@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 1rem;
  color: #01161e;
}

header {
  background: #124559;
  background: linear-gradient(to right, #124559, #01161e);
  color: #01161e;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  max-height: 100px;
  margin-right: 10px;
}
.logo img:hover {
  transform: rotate(5deg);
}

.logo_login a {
  color: #E8EBE4;
  transition: color 0.4s ease-in;
}
.logo_login a:hover {
  color: #ffa630;
}

.header-icons {
  font-size: 2.8rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.menu-links a {
  display: none;
}

.menu {
  margin-right: 20px;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  letter-spacing: 1px;
  border: 1px solid #E8EBE4;
  background-color: gradient-bg(#124559, #01161e);
  color: #E8EBE4;
  transition: all 0.3s ease-in-out;
}
.menu ul a:hover {
  background-color: #ffa630;
  color: #124559;
}
.menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
.menu ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: gradient-bg(#124559, #01161e);
  padding: 0;
}
.menu ul li ul li {
  float: none;
  width: 150px;
}
.menu ul li ul li a {
  line-height: 120%;
  padding: 10px 15px;
  background-color: #124559;
  color: #E8EBE4;
  transition: all 0.3s ease-in-out;
}
.menu ul li ul li a:hover {
  background-color: #ffa630;
  color: #124559;
}
.menu ul li:hover > ul {
  display: block;
}

button {
  padding: 5px;
  background-color: #124559;
  color: #E8EBE4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
}
button button:hover {
  background-color: #ffa630;
  color: #E8EBE4;
}

.access {
  position: fixed;
  bottom: 200px;
  left: 18px;
  z-index: 1000;
}

.btnAccess {
  background-color: transparent;
}

.btnAccess img {
  width: 70px;
  height: 70px;
}

#access-panel {
  width: 300px;
  background-color: #E8EBE4;
  border: 2px solid #124559;
}

.access-panel {
  position: fixed;
  bottom: 80px;
  left: 10px;
  width: 600px;
  background-color: #E8EBE4;
  border: 2px solid #124559;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 1002;
  display: none;
}
.access-panel.visible {
  display: block;
}
.access-panel .panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.access-panel .panel-header h2 {
  font-size: 1.2rem;
  color: #124559;
  margin: 0;
}
.access-panel .panel-header .close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #01161e;
}
.access-panel .panel-header .close-button:hover {
  color: #ffa630;
}
.access-panel .panel-content {
  font-family: "Lato", sans-serif;
  color: #01161e;
  text-align: center;
  padding: 0.5rem;
}
.access-panel .panel-content .access-option {
  margin-bottom: 0.5rem;
}
.access-panel .panel-content .access-option h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.access-panel .panel-content .access-option button {
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 0.6rem;
  background-color: #124559;
  color: #E8EBE4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.access-panel .panel-content .access-option button:hover {
  background-color: #ffa630;
  color: #01161e;
}

.hidden {
  display: none;
}

/* ESCALA DE GRISOS */
.grayscale {
  filter: grayscale(100%);
}

/* MÉS CONTRAST */
.dark-contrast {
  filter: contrast(130%);
}

/* MENYS CONTRAST */
.light-contrast {
  filter: brightness(90%);
}

/* MÉS SATURACIÓ */
.high-saturation {
  filter: saturate(130%);
}

/* MENYS SATURACIÓ */
.low-saturation {
  filter: saturate(70%);
}

footer {
  background: #124559;
  background: linear-gradient(to right, #124559, #01161e);
  color: #E8EBE4;
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  width: 100%;
}
footer a:link {
  color: #E8EBE4;
}
footer a:visited {
  color: #ffa630;
}

@media (min-width: 768px) {
  .main-title {
    font-size: 2rem;
  }
  .menu_login {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .header-icons {
    margin-left: 50px;
  }
  .menu-links a {
    color: #E8EBE4;
    padding: 20px;
    display: inline;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .menu-links a:hover {
    color: #ffa630;
  }
  .menu-icon {
    display: none;
  }
  .panel-content .access-option h3 {
    font-size: 1.3rem;
  }
  .panel-content .access-option button {
    font-size: 1.2rem;
  }
}
.container {
  text-align: center;
  padding: 15px;
}
.container h2 {
  text-align: center;
  color: #124559;
  margin: 0.5rem;
  font-family: "Merriweather Sans", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.container .container-opciones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 1.1em;
}
.container .container-opciones .tab {
  cursor: pointer;
  padding: 5px 10px;
}
.container .container-opciones .tab.active {
  border-bottom: 2px solid #01161e;
}
.container #container-mobile {
  display: block;
  text-align: center;
  background-color: rgba(18, 69, 89, 0.25);
}
.container #container-mobile .card-ossos,
.container #container-mobile .card-feina {
  background-color: #b7c3c7;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
.container #container-mobile .card-ossos .image-voltant,
.container #container-mobile .card-feina .image-voltant {
  width: 250px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.container #container-mobile .card-ossos .image-voltant:hover,
.container #container-mobile .card-feina .image-voltant:hover {
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
}
.container #container-mobile .card-ossos .text-voltant,
.container #container-mobile .card-feina .text-voltant {
  border-radius: 3px;
  text-align: justify;
}
.container #container-desktop {
  display: none;
}
.container .btnAccess {
  background-color: transparent;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container #container-mobile {
    display: none;
  }
  .container .container-opciones {
    font-size: 1.2em;
  }
  .container #container-desktop {
    display: flex;
    background-color: rgba(18, 69, 89, 0.25);
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
  }
  .container #container-desktop .listado {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20%;
    margin: 25px;
  }
  .container #container-desktop .listado .list-item {
    padding: 15px;
    border: 1px solid #01161e;
    cursor: pointer;
  }
  .container #container-desktop .listado .list-item:hover {
    background-color: #124559;
    color: #E8EBE4;
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  .container #container-desktop #details {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container #container-desktop #details #details-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 20px;
  }
  .container #container-desktop #details #details-image:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  .container #container-desktop .description {
    width: 35%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 40px;
  }
  .container #container-desktop .description .text-voltant {
    font-size: 1.1rem;
    color: #01161e;
    text-align: justify;
  }
}/*# sourceMappingURL=alvoltant.css.map */