@import "_variables";
@import "mixins";

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  @media (max-width: 768px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.users-table th,
.users-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.users-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.user-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.user-form h2 {
  margin-bottom: 20px;
}

.user-form label {
  display: block;
  margin-bottom: 10px;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.user-form button.cancel {
  background: #dc3545;

  &:hover {
    background: #c82333;
  }
}

.table-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;

  .create-user-btn {
    padding: 10px;
    background-color: #124559;
    color: #E8EBE4;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #ffa630;
      color: #01161e ;
    }
  }

  @media (max-width: 768px) {
    .create-user-btn {
      width: 100%;
      text-align: center;
      padding: 12px;
    }
  }
}

.edit-users-container {
  padding: 15px;
  margin-bottom: 200px;
  max-width: 90%;

  @media (max-width: 768px) {
    padding: 10px;
  }
}
